.aulas{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.content{
    width: 100%;
    height: auto;
    aling-items: center;
    justify-content: center;
}

.proximasAulas{
  width: 50%;
  text-align: center;
}

.proximasAulas span{
   color: #FF8C00;
   
}

.espacos{
    display: flex;
    flex-wrap: wrap; 
    width: 70%;
    height: auto;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}