.aulas{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.content{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.proximasAulas{
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.proximasAulas h1 {
    width: 100%;
}

.proximasAulas span{
   color: #FF8C00;
    width: 100%;
    height: auto;
    text-align: center;
}

.espacos{
    display: flex;
    flex-wrap: wrap; 
    width: 70%;
    height: auto;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 1rem;
}

