.PontosCulturais{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 18rem;
    height: 25rem;
    margin: 1.5rem 0;
    justify-content: space-between;
    transition: all;
    transition-duration: 0.8s;
}

.PontosCulturais:hover{
    scale: 1.1;
}


.PontosCulturais img{
    width: 100%;
    height: 10rem;
}

.PontosCulturais h3{
    font-size: 1.5rem;
    margin: 0.5rem 0;
    text-align: center;
    color: #C95000;
}

.informacaoAula{
    padding: 0 .5rem;
    height:40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linkAula{
    width: 100%;
    display: flex;
    justify-content: flex-end;
   
}

.linkAula a{
    text-decoration: none;
    color: #000;
}

.linkAula a:hover{
    color: #C95000;
}