.content{
    width: 100%;
    height: auto;
    aling-items: center;
    justify-content: center;
    
}

.proximasAulas{
    display: flex;
    flex-direction: column;
    aling-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
}

.espacos{
    display: flex;
    flex-wrap: wrap; 
}